---
import BlogLayout from "../../layouts/BlogLayout.astro";
import BlogTableOfContents from "../../components/BlogTableOfContents.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Author from "../../components/Author.astro";
import BlogFeedback from "../../components/BlogFeedback.astro";
import { contentfulClient, renderOptions, isValidCategory } from "../../lib/contentful";
import type { Post } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const { category, slug } = Astro.params as { category: string; slug: string };
if (!category || !isValidCategory(category)) {
  return Astro.redirect("/blog/");
}

const entries = await contentfulClient
  .getEntries<Post>({
    content_type: "englishPost",
    "fields.category": category,
    "fields.slug": slug,
  })
  .catch((err: unknown) => {
    console.error(err);
    return { items: [] };
  });

const post = entries.items[0];
if (!post) {
  return Astro.redirect("/blog/");
}

const title = post.fields.title;
const body = documentToHtmlString(post.fields.body, renderOptions);
const date = post.fields.published ? new Date(post.fields.published).toLocaleDateString("de-DE") : null;
const author = post.fields.author.fields;
const heroImage = {
  url: post.fields.heroImage?.fields.file.url.startsWith("//")
    ? `https:${post.fields.heroImage?.fields.file.url}`
    : post.fields.heroImage?.fields.file.url,
  height: post.fields.heroImage?.fields?.file?.details?.image?.height,
  width: post.fields.heroImage?.fields?.file?.details?.image?.width,
};
const seoDescription = post.fields.seoDescription || post.fields.description || "";
const url = new URL(Astro.url.pathname, Astro.site).toString();
const lang = "en";
---

<BlogLayout
  title={title}
  locale={lang}
  opengraph={{ title, url, locale: lang, image: heroImage, description: seoDescription, type: "article" }}>
  <BlogTableOfContents />
  <Breadcrumbs title={title} category={category} slug={slug} lang={lang} />
  <h1 class="article__main-heading">{title}</h1>
  <Author author={author} published={date} url={url} />
  <article set:html={body} />
  <BlogFeedback lang={lang} />
  <style is:inline>
    article a {
      color: #ff6b35;
      text-decoration: none;
    }

    article a:hover {
      border-bottom: 1px solid #ff6b35;
      padding-bottom: 4px;
    }

    .article__table {
      overflow-x: auto;
      margin-bottom: 24px;
    }

    @media only screen and (max-width: 40em) {
      .article__table {
        text-align: center;
      }
    }
  </style>
</BlogLayout>
