---
import MemberLayout from "../../../layouts/MemberLayout.astro";
import { contentfulClient } from "../../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";

interface LTWCard {
  contentTypeId: string;
  fields: {
    videoUrl: string;
    description: Document;
    image: {
      sys: { id: string };
      fields: {
        title: string;
        file: {
          url: string;
        };
      };
    };
  };
}
const cards = await contentfulClient.getEntries<LTWCard>({
  content_type: "liveTradingWebinarCard",
  order: ["-fields.date"],
});

---

<MemberLayout title="Day Trading Kurs" description="#" lang="de">
  <div class="wrapper-content">
    <a href={cards.items[0].fields.videoUrl} class="video-webinar">
      <img alt={cards.items[0].fields.image?.fields.title} src={cards.items[0].fields.image?.fields.file.url} />
      <div set:html={documentToHtmlString(cards.items[0].fields.description)} class="trading-details__container" />
    </a>
    <h1>Live Trading Webinare</h1>
    <div class="ltw-grid">
      {
        cards.items.slice(1).map((item) => (
          <a href={item.fields.videoUrl} class="video-webinar">
            <img alt={item.fields.image?.fields.title} src={item.fields.image?.fields.file.url} />
            <div set:html={documentToHtmlString(item.fields.description)} class="trading-details__container" />
          </a>
        ))
      }
    </div>
  </div>
</MemberLayout>

<style>
  .trading-details__container {
    padding: 1em 2em;
  }

  .video-webinar {
    color: var(--text-color, #171614);
  }

  .video-webinar:first-child {
    display: block;
    margin-bottom: 48px;
  }

  .wrapper-content {
    padding: 0 24px;
  }

  .ltw-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  @media (min-width: 320px) and (max-width: 640px) {
    .ltw-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 641px) and (max-width: 980px) {
    .ltw-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 981px) {
    .ltw-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
