---
import BlogLayout from "../../../layouts/BlogLayout.astro";
import BlogTableOfContents from "../../../components/BlogTableOfContents.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import Author from "../../../components/Author.astro";
import { contentfulClient, renderOptions } from "../../../lib/contentful";
import type { Post } from "../../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Post>({
    content_type: "post",
  });
  return entries.items.map((item) => ({
    params: { category: item.fields.category, slug: item.fields.slug },
    props: {
      title: item.fields.title,
      body: documentToHtmlString(item.fields.body, renderOptions),
      date: item.fields.published ? new Date(item.fields.published).toLocaleDateString("de-DE") : null,
      author: item.fields.author.fields,
    },
  }));
}

const { title, date, body, author } = Astro.props;
const { category, slug } = Astro.params as { category: string; slug: string };
const url = Astro.url.toString();
---

<BlogLayout title={title}>
  <BlogTableOfContents document={body} />
  <Breadcrumbs title={title} category={category} slug={slug} />
  <h1 class="article__main-heading">{title}</h1>
  <Author author={author} published={date} url={url} />
  <article set:html={body} />
</BlogLayout>
