---
interface Props {
  title?: string;
  category: string;
  slug?: string;
  lang: "en" | "de";
}
const { title, category, slug, lang } = Astro.props;
const localePathSegment = lang === "de" ? "/de" : "";

function displayCategory(category: string) {
  return category.split("-").map((part) => part.slice(0, 1).toUpperCase() + part.slice(1)).join(" ");
}

function hasAdditionalLinkToPost() {
  return title && slug;
}
---

<div class="breadcrumbs">
  <ul class="breadcrumbs__ul">
    <li class="breadcrumbs__li"><a class="breadcrumbs__a" href={`${localePathSegment}/`}>Home</a></li>
    <li class="breadcrumbs__li"><a class="breadcrumbs__a" href={`${localePathSegment}/blog/`}>Blog</a></li>
    <li class="breadcrumbs__li">
      <a class={hasAdditionalLinkToPost() ? "breadcrumbs__a" : "breadcrumbs--active"} href={`${localePathSegment}/${category}/`}>
        {displayCategory(category)}
      </a>
    </li>
    {
      hasAdditionalLinkToPost() && (
        <li class="breadcrumbs__li">
          <a class="breadcrumbs--active" href={`${localePathSegment}/${category}/${slug}`}>
            {title}
          </a>
        </li>
      )
    }
  </ul>
</div>
