---
const { link, text, alignClass, target = "", colorClass = "", element = "a", id } = Astro.props;
---

<div class="button__container">
  {
    element === "a" ? (
      <a href={link} target={target} class={`button ${alignClass} ${colorClass}`}>
        {text}
      </a>
    ) : (
      <button id={id} class={`button ${alignClass} ${colorClass}`}>{text}</button>
    )
  }
</div>

<style>
  .button {
    color: #fff;
    background: #ff6b35;
    border: 2px solid #ff6b35;
    padding: 15px 20px;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
  }

  .button__background--light {
    background: #fff;
    color: var(--accent-color);
  }

  .button__container {
    display: flex;
  }

  .button--align-center {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
</style>
