---
const {
  videoLarge,
  videoMedium,
  videoSmall,
  videoId,
  backgroundColorClass,
  marginClass = "",
  paddingClass = "",
  heading = "",
  text = "",
  download = "",
  download2 = "",
  tip,
  poster,
} = Astro.props;
---

<div
  class={`
    course-video__heading-container
    ${backgroundColorClass}
    `}>
  <h2 class="course-video__heading">{heading}</h2>
</div>
<div class={`
course-video__container
${marginClass}
`}>
  <>
    <video
      class="lazy"
      preload="none"
      data-src={videoLarge}
      controls
      oncontextmenu="return false;"
      id={videoId}
      poster={poster}
      controlslist="nodownload">
      <source data-src={videoLarge} type="video/mp4" data-size="large" />
      <source data-src={videoMedium} type="video/mp4" data-size="medium" />
      <source data-src={videoSmall} type="video/mp4" data-size="small" />
       Your browser does not support the video tag.
    </video>
  </>
  <p class={`
  course-video__text
  ${paddingClass}
  `} set:html={text} />
  <div class="course-video__download">
    {
      download && (
        <a href={download.link} class="link">
          <img class="course-video__download-icon" src="/images/download.svg" width="26" alt="download icon" />
          {download.text}
        </a>
      )
    }
    {
      download2 && (
        <a href={download2.link} class="link">
          <img class="course-video__download-icon" src="/images/download.svg" width="26" alt="download icon" />
          {download2.text}
        </a>
      )
    }
    <slot name="videoTracker" />
  </div>
  <p set:html={tip} class={`
  course-video__tip
  ${paddingClass}
  `} />
  <script src="./lazy-videos.js"></script>
</div>

<style>
  .course-video__heading-container {
    color: #fff;
    padding: 1em 2em;
    margin-top: 3em;
  }

  .heading-container--accent {
    background-color: var(--accent-color);
  }

  .heading-container--dark {
    background-color: var(--dark-background-color);
  }

  .course-video__heading {
    margin-bottom: 0;
  }
  
  video {
    max-width: 100%;
  }

  .course-video__container {
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 1px 4px #d2d2d2;
    padding: 1em 0;
  }

  .video-container__margin--less {
    margin: 0;
  }

  .course-video__download {
    display: flex;
    gap: 1em;
    padding: 0 2em;
  }

  .course-video__download-icon {
    margin-right: 0.6em;
  }

  .course-video__text,
  .course-video__tip {
    padding: 1em 2em;
  }

  .text__padding--less {
    padding: 0;
  }

  .course-video__tip--colored {
    color: var(--accent-color);
    font-weight: bold;
  }

  @media only screen and (min-width: 60em) {
    .course-video__container {
      margin: 0 2em 6em 2em;
      display: flex;
      justify-content: center;
      padding: 1em;
    }

    .video-container__margin--less {
    margin: 0;
  }

  .text__padding--less {
    padding: 0;
  }

    .course-video__heading-container {
      margin: 3em 2em 0 2em;
    }
  }
</style>
