---
interface Props {
  lang: "de" | "en";
}

type Content = {
  headline: string;
  copy: string;
  icons: string;
  affiliate: string;
  copyright: string;
  legalTexts: string[];
  links: { text: string; href: string }[];
};

const { lang } = Astro.props;

const currentYear = new Date().getUTCFullYear();

const de: Content = {
  headline: "inloopo",
  copy: "Dein Investment. Deine Freiheit.",
  icons: "Folge mir",
  affiliate:
    "*Bei Links mit Sternchen handelt es sich um einen Affiliate-Link, das heißt, wenn du auf der verlinkten Website etwas kaufst, erhalte ich eine Provision. Dies hat keinerlei Einfluss darauf, wie ich ein Tool oder einen Anbieter bewerte.",
  links: [
    { text: "Datenschutz", href: "/de/datenschutz/" },
    { text: "Nutzungsbedingungen", href: "/de/nutzungsbedingungen/" },
    { text: "Risikohinweis", href: "/de/risikohinweis/" },
    { text: "Impressum", href: "/de/impressum/" },
  ],
  copyright: `Copyright © ${currentYear} KW³ Business Ltd`,
  legalTexts: [
    "Risiko Offenlegung: Der Handel mit ETFs, Futures oder Aktien birgt ein hohes Risiko und ist nicht für jeden Investor geeignet. Ein Investor kann möglicherweise mehr als das eingezahlte Kapital verlieren. Für den Handel sollte nur Risikokapital verwendet werden, bzw. Teile des Risikokapitals. Risikokapital ist Geld, bei dessen Verlust sich keine Änderung der Finanzsituation ergibt bzw. keinen Einfluss auf das Leben mit sich bringt. Eine in der Vergangenheit erzielte Performance ist keine Garantie für zukünftige Gewinne.",
    "Offenlegung der hypothetischen Performance: Hypothetische Performanceergebnisse haben viele inhärente Einschränkungen, von denen einige im Folgenden beschrieben werden. Die dargestellten Ergebnisse des Kontos können in den Gewinnen und Verlusten stark abweichen. Einer der Einschränkungen der hypothetischen Ergebnisse ist, dass Sie durch bekannte historische Daten entstanden sind. Darüber hinaus beinhaltet der hypothetische Handel kein finanzielles Risiko – kein hypothetischer Track Record kann die finanziellen Risiken des tatsächlichen Handels darstellen. Beispielsweise besteht die Möglichkeit, dass der Handel bei Verlusten ausgesetzt bzw. abgebrochen wird, dies kann die tatsächlichen Ergebnisse stark verändern. Des Weiteren gibt es zahlreiche weitere Faktoren die bei der Umsetzung eines Handelsprogramms nicht vollständig in der hypothetischen Performance berücksichtigt werden können und somit die tatsächlichen Ergebnisse beeinflussen können.",
  ],
};

const en: Content = {
  headline: "inloopo",
  copy: "Your Investment. Your Freedom.",
  icons: "Follow me",
  affiliate:
    "Links with an * are affiliate links, which means that if you buy something on the linked website, I receive a commission. This has no influence on how I rate a tool or a provider.",
  links: [
    { text: "Privacy Policy", href: "/privacy-policy/" },
    { text: "Terms and Conditions", href: "/terms-and-conditions/" },
    { text: "Risk Disclosure", href: "/risk-disclosure/" },
    { text: "Risk Disclaimer", href: "/risk-disclaimer/" },
    { text: "Impressum", href: "/impressum/" },
  ],
  copyright: `Copyright © ${currentYear} KW³ Business Ltd`,
  legalTexts: [
    "Risk disclosure: ETF, stocks, futures, foreign currency and options trading contains substantial risk and is not for every investor. An investor could potentially lose all or more than the initial investment. Risk capital is money that can be lost without jeopardizing one's financial security or lifestyle. Only risk capital should be used for trading and only those with sufficient risk capital should consider trading. Past performance is not necessarily indicative of future results.",
    "Disclosure of hypothetical performance: CFTC Rules 4.41 - Hypothetical or Simulated performance results have certain limitations, unlike an actual performance record, simulated results do not represent actual trading. Also, since the trades have not been executed, the results may have under-or-over compensated for the impact, if any, of certain market factors, such as lack of liquidity. Simulated trading programs in general are also subject to the fact that they are designed with the benefit of hindsight. No representation is being made that any account will or is likely to achieve profit or losses similar to those shown.",
  ],
};

const t = <T extends keyof Content>(key: T) => {
  return lang === "de" ? de[key] : en[key];
};
---

<footer class="site-footer">
  <section>
    <h2 class="site-footer__heading">{t("headline")}</h2>
    <p class="site-footer__text--center">{t("copy")}</p>
    <h6 class="site-footer__text--center">{t("icons")}</h6>
    <div class="site-footer__icons-container">
      <a href="https://www.youtube.com/@inloopo" target="_blank" title="Youtube Channel inloopo"
        ><img src="/images/icon-youtube.svg" alt="Youtube Icon" width="60" /></a
      >
      <a href="https://www.facebook.com/Philipp123456" target="_blank" title="Facebook Page Philipp Kozalla"
        ><img src="/images/icon-facebook.svg" alt="Facebook Icon" width="40" /></a
      >
      <a href="https://www.instagram.com/inloopo/" target="_blank" title="Instagram Profile inloopo"
        ><img src="/images/instagram.svg" alt="Instagram Icon" width="40" /></a
      >
    </div>
    <p class="site-footer__text--center">{t("affiliate")}</p>
    <p class="site-footer__text--center">
      {
        t("links").map(({ text, href }) => (
          <>
            <a class="site-footer__link--center" href={href}>
              {text}
            </a>{" "}
            |
          </>
        ))
      }
    </p>
    <p class="site-footer__text--center">{t("copyright")}</p>

    <div class="wrapper-content site-footer__text--legal">
      {
        t("legalTexts").map((text) => {
          return <p class="site-footer__text">{text}</p>;
        })
      }
    </div>
  </section>
</footer>

<style>
  .site-footer {
    background: var(--dark-background-color);
    padding: 90px 0;
    width: 100%;
    float: left;
    margin-top: 90px;
  }

  .site-footer__icons-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  .site-footer__link--center {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
  }

  .site-footer__link--center:hover {
    color: var(--accent-color);
  }

  .site-footer__text--center {
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .site-footer__text {
    color: #fff;
    margin-bottom: 25px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.7;
    padding-left: 25px;
    padding-right: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .site-footer__text--legal {
    padding-top: 60px;
  }

  .site-footer__heading {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 759px) {
    .site-footer__text {
      width: 90%;
    }
  }

  @media only screen and (min-width: 760px) and (max-width: 979px) {
    .site-footer__text {
      width: 90%;
    }
  }
</style>
