---
const { icon, title, listItems } = Astro.props;
interface Props {
  title: string;
  icon: { src: string; alt: string; width: string };
  listItems: string[];
}
---

<div class="module__container">
  <img src={icon.src} alt={icon.alt} width={icon.width} />
  <h3 class="module__heading">{title}</h3>
  <ul class="module__ul">
    {
      listItems.map((item) => (
        <li class="module__li">
          <img class="arrow" src="/images/icon-arrow.svg" width="15" height="15" alt="Pfeil Icon" />
          {item}
        </li>
      ))
    }
  </ul>
</div>

<style>
  .module__container {
    padding: 25px 2.6em;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 1px 4px #d2d2d2;
    color: var(--text-color);
  }

  .module__heading {
    margin-top: 20px;
  }

  .module__li {
    list-style: none;
    padding: 8px 0;
  }

  .arrow {
    margin-right: 4px;
  }

</style>
