---
const { icon, type, title, description, link, backgroundColorClass, linkColorClass="" } = Astro.props;
---

<div class={`product-card__container
${backgroundColorClass}
`}>
{icon && 
<div class="product-card__icon-container">
<img class="product-card__icon" src={icon.src} alt={icon.alt} width="40"/>
</div>
}
  <div class="h6">{type}</div>
    <h2 class="product-card__heading">{title}</h2>
    <p class="product-card__text">
      {description}
    </p>
    {
      link && (
        <p>
          <a class={`
            link  bolder
            ${linkColorClass}`} href={link.href}>
            {link.text}
          </a>
        </p>
      )
    }
    <slot></slot>
  </div>
</div>

<style>
  .product-card__icon-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.4em;
  }

  .product-card__container {
    padding: 25px;
    width: 50%;
    margin: 0 0.2em;
  }

  .product-card__heading {
    margin-bottom: 0;
    text-align: left;
    line-height: 1.2;
  }

  .accent-color {
    background-color: var(--accent-color);
  }

  .light-color {
    background-color: #ff6b35;
  }

  .dark-color {
    background-color: var(--dark-background-color);
    color: #fff;
  }

  .darker-color {
    background-color: #131e3c;
    color: #fff;
  }

  /* Link Color */

  .dark-text-color {
    color: var(--text-color);
  }

  .darker-border {
    border-bottom: 1px solid #131e3c;
  }

  .dark-border {
    border-bottom: 1px solid var(--dark-background-color);
  }

  .light-text-color {
    color: #fff;
    border-bottom: 1px solid var(--accent-color);
  }

  .light-text-color:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }

  .bolder {
    font-weight: bolder;
  }

  @media only screen and (max-width: 759px) {

    .product-card__heading {
      font-size: 24px;
    }

    .product-card__text {
      font-size: 18px;
    }

    .product-card__container {
      width: 100%;
    }
  }
</style>
