---
// styles import
import "../styles/styles.css";

// component import
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description: string;
  lang: "de" | "en";
  opengraph?: {
    title?: string;
    url: string;
    image: string;
    type: string;
    description: string;
    locale: string;
  };
}

// props
const { title, description, opengraph="", lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    {
      opengraph && (
        <>
          <meta property="og:title" content={opengraph.title || title} />
          <meta property="og:url" content={opengraph.url} />
          <meta property="og:image:width" content="1200" />
          <meta property="og:image:height" content="630" />
          <meta property="og:image" content={opengraph.image} />
          <meta property="og:type" content={opengraph.type} />
          <meta property="og:description" content={opengraph.description} />
          <meta property="og:locale" content={opengraph.locale} />
        </>
      )
    }
    <!-- Flavicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/images/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  </head>
  <body>
    <Navbar lang={lang} />
    <slot />

    <Footer lang={lang} />
  </body>
</html>
