---
// styles import
import "../styles/styles.css";

// component import
import Footer from "../components/Footer.astro";
import Navbar from "../components/MemberNavbar.astro";

interface Props {
  title: string;
  description: string;
  lang: "de" | "en";
  opengraph?: {
    title?: string;
    url: string;
    image: string;
    type: string;
    description: string;
    locale: string;
  };
  canonical?: string;
  noIndex?: boolean;
}

// props
const { title, description, opengraph = "", lang, canonical = "", noIndex = false } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <style is:inline>
      @font-face {
        font-family: "Cera Pro Black";
        src:
          url("/fonts/CeraProBlack.otf") format("opentype"),
          url("/fonts/CeraProBlack.ttf") format("truetype");
        font-display: optional;
      }

      @font-face {
        font-family: "Quattrocento Sans";
        src: url("/fonts/QuattrocentoSans-Regular.ttf") format("truetype");
        font-display: optional;
      }
    </style>

    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    {noIndex ? <meta name="robots" content="noindex, nofollow" /> : <meta name="robots" content="index, follow" />}

    {
      opengraph && (
        <>
          <meta property="og:title" content={opengraph.title || title} />
          <meta property="og:url" content={opengraph.url} />
          <meta property="og:image:width" content="1200" />
          <meta property="og:image:height" content="630" />
          <meta property="og:image" content={opengraph.image} />
          <meta property="og:type" content={opengraph.type} />
          <meta property="og:description" content={opengraph.description} />
          <meta property="og:locale" content={opengraph.locale} />
          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:site" content="@philipp_kozalla" />
          <meta name="twitter:creator" content="@philipp_kozalla" />
          <meta name="twitter:title" content={opengraph.title || title} />
          <meta name="twitter:description" content={opengraph.description} />
          <meta name="twitter:image" content={opengraph.image} />
        </>
      )
    }
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <script>
      var MemberSpace = window.MemberSpace || { subdomain: "inloopo" };
      (function (d) {
        var s = d.createElement("script");
        s.src = "https://cdn.memberspace.com/scripts/widgets.js";
        var e = d.getElementsByTagName("script")[0];
        e.parentNode?.insertBefore(s, e);
        s.onload = () => {
          document.body.dispatchEvent(new Event("finished-loading-memberspace"));
        };
      })(document);
    </script>
  </head>

  <body>
    <Navbar lang={lang} />
    <main>
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
